* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

.main_wrap{
    background-color: #aaa;
    width: 1920px;
    height: 937px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameW{
    background:url(image/room1.png) no-repeat center/cover;
    width: 1620px;
    height: 837px;
    border: 5px solid black;
    position: relative;
}
 .gameW .dialogue{
    display: none;
    width:1292px;
    height: 243px;
    background:url(image/dialogue.png) no-repeat center/cover;
    position: absolute;
    bottom:0px;
    left: 50%;
    transform: translateX(-50%);
}
.dialogue p{
    margin: 30px;
    font-size: 30px;
}
.gameW .bed{
    width: 600px;
    height: 348px;
    background: url(image/bed.png) no-repeat center/cover;
    position: absolute;
    bottom: 0;
    right: 0;
}
.gameW .door{
    position: absolute;
    top: 90px;
    right: 46%;
    background: url(image/door.png) no-repeat center/cover;
    width: 246px;
    height: 360px;
}
.gameW .panting{
    position: absolute;
    top: 90px;
    right: 32%;
}
.gameW .window{
    width: 294px;
    height: 332px;
    background: url(image/window.png) no-repeat center/cover;
    position: absolute;
    right: 10%;
}
.gameW .table{
    position: absolute;
    top:220px;
    right: 18%;
}
.gameW .diary{
    display: none;
    position: absolute;
    top:58%;
    right: 20%;
}
.gameW .pillow{
    position: absolute;
    top:56%;
    right: 18%;
}
.gameW .piano-box{
    position: absolute;
    top:180px;
    left: 21%; 
}
.gameW .music{
    width: 80px;
    height: 100px;
    /* background-color: aqua; */
    /* opacity: 0.5; */
    position: absolute;
    top:280px;
    left: 22%;
}
.gameW .piano_key{
    width: 170px;
    height: 60px;
    /* background-color: aqua;
    opacity: 0.5; */
    position: absolute;
    top:380px;
    left:22%;
    transform: rotate(-28deg);
}
.gameW .people{
    display: none;
    position: absolute;
    bottom:20%;
    right: 15%;
}
.gameW .hint{
    display: none;
    position: absolute;
    top: 10%;
    left: 45%;
    transform: translateX(-50%);
    width:556px;
    height:436px;
}
.gameW .music_teach{
    background:url(image/music_teaching.png) no-repeat center/cover ;
}
.gameW .sheet_music{
    background:url(image/sheet_music.png) no-repeat center/cover ;
}
.gameW .piano{
    background:url(image/piano.png) no-repeat center/cover ;
}
.allkeys{
    display:flex;
    margin: 67px 0 0 25px;
}
.allkeys a{
    width: 73px;
    height: 310px;
    /* background-color: red;
    opacity: 0.3; */
}
.gameW .piano_box_event{
    background:url(image/piano-box_big.png) no-repeat center/cover ;
}
.piano_box_event img{
    position: absolute;
    bottom: 10%;
    left: 46%;
}
.gameW .diary_big{
    background:url(image/diary_close.png) no-repeat center/cover ;
}
.gameW .drawer{
    background:url(image/drawer.png) no-repeat center/cover ;
}
.gameW .drawer .passbox{
    width: 92px;
    height: 98px;
    position: absolute;
    top: 56%;
    overflow: hidden;
    background:url(image/password.png) no-repeat center/cover ;
}
.passbox img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.passbox img:not(:first-child){
    opacity: 0;
}
.drawer .passbox:nth-child(1){
    left: 11%;
}
.drawer .passbox:nth-child(2){
    left: 31%;
}
.drawer .passbox:nth-child(3){
    left: 50%;
}
.drawer .passbox:nth-child(4){
    left: 69%;
}
.gameW .drawer_open{
    background:url(image/drawer_open.png) no-repeat center/cover ;
}
.drawer_open img{
    position: absolute;
    top: 30%;
    left: 40%;
}
.gameW .cross{
    display: none;
    position: absolute;
    top: 7%;
    left: 60%;
    width: 68px;
    height: 68px;
    background: url(image/cross.png) no-repeat center/cover;
}
.gameW .ui{
    width: 224px;
    height: 836px;
    background: url(image/nav.png) no-repeat center/cover;
    position: relative;
    left: 86%;
}
.ui .arrow{
    display: none;
    width: 66px;
    height: 40px;
    background: url(image/arrow.png) no-repeat center/cover;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.ui .arrow2{
    display: none;
    width: 66px;
    height: 40px;
    background: url(image/arrow2.png) no-repeat center/cover;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.ui .all_box{
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    width: 90%; 
    height: 90%;
    /* background-color: aqua; */
}
.all_box .ui_box{
    position: relative;
    top: 0;
    left: 5%;
    width: 178px;
    height: 184px;
    background: url(image/box.png) no-repeat center/cover;
}
.ui_box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.7);
}